@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monsterrat', sans-serif;
}

nav{
    padding: 10px 0px 10px 0px;
    background-color: white;
    line-height: 50px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10% 0px 10%;
}

nav li{
    list-style: none;
    padding: 0 20px;
}

nav a{
    text-decoration: none;
    color: #141414;
    font-weight: 600;
}

nav a:hover{
    color: #ff5b60;
}

footer{
    padding: 150px 300px 150px 300px; 
    background-color:#ff5b60;
}

footer li{
    padding: 5px 0px 5px 0px;
}

footer a{
    color: blue;
}

footer a:hover{
    color:red;
}

header img{
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

h1{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3em;
}

h2{
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 800;
    background-color: #141414;
    display: inline-block;
    color: white;
    padding: 10px;
}

h3{
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
}

.red-section{
    background-color: #ff5b60;
}

.red-section h2{
    margin-bottom: 10px;
}

.belangrijke-prijzen-container{
    display: flex;
}

.belangrijke-prijzen-content{
    margin: 0px 30px 0px 0px;
}
.belangrijke-prijzen-content img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.belangrijke-prijzen-content p{
    width: 100%;
}

section{
    padding: 5% 15% 5% 15%;
}

section p{
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

section img{
    width: 30%;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: start;
}

tr:nth-child(odd){
    background-color: #ffe9e9;
}

tr:first-child{
    background-color: #ff5b60;
}

td:first-of-type{
    padding-right: 30px;
}

article{
    padding: 50px 25% 150px 30%;
}

article h1{
    background-color: #141414;
    padding: 30px;
    color: #ff252c;
    margin-left: -100px;
    margin-right: -100px;
}

article p{
    width: 90%;
    padding: 00px 0px 20px 0px;
}

article p:first-of-type{
    font-weight: 600;
    font-size: 1.1em;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

figcaption{
    font-style: italic;
    margin: 5px 0px 30px 0px;
    color: rgb(130, 124, 124);
}

article img{
    width: 60%;
}

article img:first-of-type{
    width: 80%;
}

.img-header-prijzen{
    background-image: url("../images/europacup1.jpeg");
    height: 95vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img-header-prijzen h1{
    font-size: 6em;
    background-color: #141414;
    padding: 0.5em;
    color: #ff252c;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.img-header-spelers{
    background-image: url("../images/ronaldo-romario.jpeg");
    height: 95vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img-header-spelers h1{
    font-size: 6em;
    background-color: #141414;
    padding: 0.5em;
    color: #ff252c;
    position: absolute;
    bottom: 10%;
    left: 10%;;
}

.container-speler{
    display: flex;
    margin-bottom: 12%;
}
.container-speler:last-child{
    margin-bottom: 100px;
}

.container-speler .container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-speler img{
    width: 50%;
    object-fit: cover;
}
.container p{
    width: 95%;
}

.container-speler .container h2{
    background-color: white;
    color: black;
    padding: 0px 0px 10px 0px;
}

.container-speler .container h4{
    margin-top: 20px;
}

.container-speler li{
    list-style-type: none;
}

.grid-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 40px;
    margin-bottom: 80px;
}

.speler-card{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.speler-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-header-historie{
    background-image: url("../images/historie.webp");
    height: 95vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img-header-historie h1{
    font-size: 6em;
    background-color: #141414;
    padding: 0.5em;
    color: #ff252c;
    position: absolute;
    bottom: 10%;
    left: 10%;;
}

article h2{
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 800;
    background-color: white;
    color: black;
    display: block;
    padding: 0;
}

.img-header-home{
    background-image: url("../images/home-header.jpeg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6); 
}

/* dit gebruikt voor de box shadow zodat er een donkere kleur over mijn achtergrond heen komt https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image */

.img-header-home nav{
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


.img-header-home nav a{
    text-decoration: none;
    color: #ff252c; 
    font-weight: 600;
    font-size: 2em;
    background-color: black;
    padding: 1em;
    transition: 250ms ease;
}

.img-header-home nav a:hover{
    color: white;
    background-color: #ff252c;
}

.img-header-home nav ul li{
    transition: 250ms ease-in-out;
}

.img-header-home nav ul li:hover{
    transform: scale(1.3);
}


.bronnen-pagina ol{
    display: flex;
    flex-direction: row;
}
.bronnen-pagina ol li{
    width: 25%;
    list-style-type: none;
}
.bronnen-pagina h3{
    width: 100%;
    margin-bottom: 30px;
}
.bronnen-pagina ol li h4, .bronnen-pagina ol li ul li{
    margin-bottom: 10px;
}
.bronnen-pagina ul li{
    width: 100%;
}
.bronnen-pagina ul li:last-of-type{
    margin-bottom: 30px;
}
.bronnen-pagina li a{
    text-decoration: none;
}
.bronnen-pagina li a:hover{
    color: #ff252c;
}


@media only screen and (max-width: 600px){

    .img-header-spelers{
        height: 50vh;
    }

    .img-header-spelers h1{
     font-size: 3em;   
     display: block;
    }

    .container-speler{
        flex-direction: column;
    }
    .container-speler .container{
        width:  100%;
        padding-bottom: 20px;
    }
    .container-speler img{
        width: 100%;
    }
    
    .grid-wrapper{
        grid-template-columns: auto;
    }

}


